# Maven
/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Server Runtime Artifacts & Databases
*.db
*.db-shm
*.db-wal
*.sqlite
*.sqlite-journal
*.sqlite3
/run/
/logs/
*.log
/plugins/
crash-reports/
.env
.env.*

# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
.idea/
*.iml
*.iws
*.ipr
out/

# VSCode
.vscode/

# OS & Temp
Thumbs.db
.DS_Store
*.tmp
*.bak
